@import "tailwindcss";

@theme {
  --color-brand: #af5a3c;
  --color-bg-dark: #121212;
  --color-bg-card: #1a1817;
  --color-text-primary: #f1f5f9;
  --color-text-secondary: #94a3b8;
  --color-text-muted: #64748b;
  --font-sans: 'Inter', sans-serif;
}

html {
  background-color: #121212;
  color: #f1f5f9;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #121212;
}
